################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlowtorchesAndGunpowder/v17/TestStore/0
