################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlowtorchesAndGunpowder/v17/TestStore/0
/.vs/BlowtorchesAndGunpowder/FileContentIndex
/.vs/BlowtorchesAndGunpowder/v17/.suo
/.vs/ProjectEvaluation/blowtorchesandgunpowder.metadata.v2
/.vs/ProjectEvaluation/blowtorchesandgunpowder.projects.v2
